
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

.container {
    width:auto;
    padding:2rem 1rem 2rem 1rem

}

html {
    background-color: #EFF1F4;
}

